.btnContainer{
    margin: auto;
    padding: 5px;
}
div{
    background-color: var(--md-sys-color-surface-container);
}

:root {
    --md-ref-typeface-brand: 'Roboto';
    --md-ref-typeface-plain: 'Roboto';
     --md-sys-color-primary: #006A6A;
    --md-sys-color-on-primary: #FFFFFF;
    --md-sys-color-primary-container: #6FF7F6;
    --md-sys-color-on-primary-container: #002020;
  }