

:root{
    --alice-blue: #e8f1f2ff;
    --celadon: #b3efb2ff;
    --cambridge-blue: #7a9e7eff;
    --brunswick-green: #31493cff;
    --rich-black: #001a23ff;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--alice-blue);
    font-family: "Funnel Display", sans-serif;
}


header {
    background-color: var(--rich-black);
    color: var(--alice-blue);
    padding: 20px;
    text-align: center;
    display: flex;
    position: sticky;
}

nav {
    margin: 20px 0;
}

nav a {
    color: var(--alice-blue);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: var(--celadon);
    background-color: var(--brunswick-green);
}

h2, h3 {
    color: var(--celadon);
    background-color: var(--brunswick-green);
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

p{
    color: var(--rich-black);
    border-radius: 72px;
    background-color: var(--rich-black);
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
}

.footer {
    background-color: #6200ea;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.button {
    background-color: #6200ea;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #3700b3;
}

.statistic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.statistic div {
    flex: 1;
    text-align: center;
}

.statistic h4 {
    margin: 5px 0;
}